// Here are the specific styles for the home component
.home .prm {
    color: $prm-color;
}


.home h1 {
    text-align: center;
    position: relative;
}

.home h1 img {
    position: absolute;
}

.home h1 img:nth-child(1) {
    transform: translateX(-120%);
}

.home h1 img:nth-child(3) {
    transform: translateX(10%) translateY(10%) rotate(180deg);
}